Best practises 

1.Preprocessing and cleaning 

2.Train Test split

3.BOW,TFIDF,word2vec

4.Train ml algorithm

In [1]:
##load the datset 

import pandas as pd 
data = pd.read_csv('kindle_reviews.csv')

In [2]:
data.head()

,Unnamed: 0,asin,helpful,overall,reviewText,reviewTime,reviewerID,reviewerName,summary,unixReviewTime
0,0,B000F83SZQ,"[0, 0]",5,I enjoy vintage books and movies so I enjoyed ...,"05 5, 2014",A1F6404F1VG29J,Avidreader,Nice vintage story,1399248000
1,1,B000F83SZQ,"[2, 2]",4,This book is a reissue of an old one; the auth...,"01 6, 2014",AN0N05A9LIJEQ,critters,Different...,1388966400
2,2,B000F83SZQ,"[2, 2]",4,This was a fairly interesting read. It had ol...,"04 4, 2014",A795DMNCJILA6,dot,Oldie,1396569600
3,3,B000F83SZQ,"[1, 1]",5,I'd never read any of the Amy Brewster mysteri...,"02 19, 2014",A1FV0SX13TWVXQ,"Elaine H. Turley ""Montana Songbird""",I really liked it.,1392768000
4,4,B000F83SZQ,"[0, 1]",4,"If you like period pieces - clothing, lingo, y...","03 19, 2014",A3SPTOKDG7WBLN,Father Dowling Fan,Period Mystery,1395187200

In [4]:
data[['reviewText','overall']]

                                               reviewText  overall
0       I enjoy vintage books and movies so I enjoyed ...        5
1       This book is a reissue of an old one; the auth...        4
2       This was a fairly interesting read.  It had ol...        4
3       I'd never read any of the Amy Brewster mysteri...        5
4       If you like period pieces - clothing, lingo, y...        4
...                                                   ...      ...
982614  Yasss hunny! This is a great read. That Dre is...        5
982615  I ENJOYED THIS BOOK FROM BEGINNING TO END NOW ...        5
982616  Great book! Cherika was a fool. She let that m...        5
982617  When I say this was an excellent book please b...        5
982618  This book was everything. I just hope Alexus w...        5

[982619 rows x 2 columns]

In [5]:
data.shape

(982619, 10)

In [6]:
##missing values 

data.isnull().sum()

Unnamed: 0           0
asin                 0
helpful              0
overall              0
reviewText          22
reviewTime           0
reviewerID           0
reviewerName      3822
summary            119
unixReviewTime       0
dtype: int64

In [12]:
df = data.dropna()

In [13]:
df.isnull().sum()

Unnamed: 0        0
asin              0
helpful           0
overall           0
reviewText        0
reviewTime        0
reviewerID        0
reviewerName      0
summary           0
unixReviewTime    0
dtype: int64

In [14]:
df['overall'].unique()

array([5, 4, 3, 2, 1], dtype=int64)

In [15]:
df['overall'].value_counts()

overall
5    573158
4    253055
3     95712
2     33928
1     22803
Name: count, dtype: int64

In [20]:
### preprocesing and cleaning 

##postitive review is 1 and negative review is 0
data['rating']=df['overall'].apply(lambda x:0 if x<3 else 1)

In [18]:
df['rating']

0         1
1         1
2         1
3         1
4         1
         ..
982614    1
982615    1
982616    1
982617    1
982618    1
Name: rating, Length: 978656, dtype: int64

In [19]:
df.head()

,Unnamed: 0,asin,helpful,overall,reviewText,reviewTime,reviewerID,reviewerName,summary,unixReviewTime,rating
0,0,B000F83SZQ,"[0, 0]",5,I enjoy vintage books and movies so I enjoyed ...,"05 5, 2014",A1F6404F1VG29J,Avidreader,Nice vintage story,1399248000,1
1,1,B000F83SZQ,"[2, 2]",4,This book is a reissue of an old one; the auth...,"01 6, 2014",AN0N05A9LIJEQ,critters,Different...,1388966400,1
2,2,B000F83SZQ,"[2, 2]",4,This was a fairly interesting read. It had ol...,"04 4, 2014",A795DMNCJILA6,dot,Oldie,1396569600,1
3,3,B000F83SZQ,"[1, 1]",5,I'd never read any of the Amy Brewster mysteri...,"02 19, 2014",A1FV0SX13TWVXQ,"Elaine H. Turley ""Montana Songbird""",I really liked it.,1392768000,1
4,4,B000F83SZQ,"[0, 1]",4,"If you like period pieces - clothing, lingo, y...","03 19, 2014",A3SPTOKDG7WBLN,Father Dowling Fan,Period Mystery,1395187200,1

In [21]:
data.head()

,Unnamed: 0,asin,helpful,overall,reviewText,reviewTime,reviewerID,reviewerName,summary,unixReviewTime,rating
0,0,B000F83SZQ,"[0, 0]",5,I enjoy vintage books and movies so I enjoyed ...,"05 5, 2014",A1F6404F1VG29J,Avidreader,Nice vintage story,1399248000,1.0
1,1,B000F83SZQ,"[2, 2]",4,This book is a reissue of an old one; the auth...,"01 6, 2014",AN0N05A9LIJEQ,critters,Different...,1388966400,1.0
2,2,B000F83SZQ,"[2, 2]",4,This was a fairly interesting read. It had ol...,"04 4, 2014",A795DMNCJILA6,dot,Oldie,1396569600,1.0
3,3,B000F83SZQ,"[1, 1]",5,I'd never read any of the Amy Brewster mysteri...,"02 19, 2014",A1FV0SX13TWVXQ,"Elaine H. Turley ""Montana Songbird""",I really liked it.,1392768000,1.0
4,4,B000F83SZQ,"[0, 1]",4,"If you like period pieces - clothing, lingo, y...","03 19, 2014",A3SPTOKDG7WBLN,Father Dowling Fan,Period Mystery,1395187200,1.0

In [24]:
df =data[['reviewText','rating']]

In [25]:
df.head()

                                          reviewText  rating
0  I enjoy vintage books and movies so I enjoyed ...     1.0
1  This book is a reissue of an old one; the auth...     1.0
2  This was a fairly interesting read.  It had ol...     1.0
3  I'd never read any of the Amy Brewster mysteri...     1.0
4  If you like period pieces - clothing, lingo, y...     1.0

In [28]:
df.isnull().sum()

reviewText      22
rating        3963
dtype: int64

In [31]:
df =df.dropna()

In [32]:
df.isnull().sum()

reviewText    0
rating        0
dtype: int64

In [33]:
df['rating'].unique()

array([1., 0.])

In [34]:
df['rating'].value_counts()

rating
1.0    921925
0.0     56731
Name: count, dtype: int64

In [38]:
##lower all the cases 


df['reviewText']=df['reviewText'].str.lower()

In [39]:
df.head()

                                          reviewText  rating
0  i enjoy vintage books and movies so i enjoyed ...     1.0
1  this book is a reissue of an old one; the auth...     1.0
2  this was a fairly interesting read.  it had ol...     1.0
3  i'd never read any of the amy brewster mysteri...     1.0
4  if you like period pieces - clothing, lingo, y...     1.0

In [48]:
import re
from nltk.corpus import stopwords
import nltk
from bs4 import BeautifulSoup

# Download stopwords (only needed once)
nltk.download('stopwords')

# Load stopwords
stop_words = set(stopwords.words('english'))

# Removing special characters
df['reviewText'] = df['reviewText'].apply(lambda x: re.sub('[^a-z A-Z 0-9-]+', '', x))

# Remove the stopwords
df['reviewText'] = df['reviewText'].apply(lambda x: " ".join([y for y in x.split() if y not in stop_words]))

# Remove URLs
df['reviewText'] = df['reviewText'].apply(lambda x: re.sub(r'(http|https|ftp|ssh)://([\w_-]+(?:\.[\w_-]+)+)([\w.,@?^=%&:/~+#-]*[\w@?^=%&/~+#-])?', '', x))

# Remove HTML tags
df['reviewText'] = df['reviewText'].apply(lambda x: BeautifulSoup(x, 'lxml').get_text())

# Remove any additional spaces
df['reviewText'] = df['reviewText'].apply(lambda x: " ".join(x.split()))

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\saiki\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

In [49]:
df.head()

                                          reviewText  rating
0  ienjoyvintagebooksandmoviessoienjoyedreadingth...     1.0
1  thisbookisareissueofanoldonetheauthorwasbornin...     1.0
2  thiswasafairlyinterestingreadithadoldstyleterm...     1.0
3  idneverreadanyoftheamybrewstermysteriesuntilth...     1.0
4  ifyoulikeperiodpiecesclothinglingoyouwillenjoy...     1.0

In [50]:
#lemmatizer 

from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()

In [51]:
def lemmatizer_words(text):
    return " ".join ([lemmatizer.lemmatize(word) for word in text.split()])

In [52]:
df['reviewText'] = df['reviewText'].apply(lambda x: lemmatizer_words(x))

In [53]:
df.head()

                                          reviewText  rating
0  ienjoyvintagebooksandmoviessoienjoyedreadingth...     1.0
1  thisbookisareissueofanoldonetheauthorwasbornin...     1.0
2  thiswasafairlyinterestingreadithadoldstyleterm...     1.0
3  idneverreadanyoftheamybrewstermysteriesuntilth...     1.0
4  ifyoulikeperiodpiecesclothinglingoyouwillenjoy...     1.0

In [54]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(df['reviewText'],df['rating'],test_size=0.20)